$bg: #f7efef;
$bg-component: linear-gradient(118.47deg, #E9EDF0 0.61%, #E9EDF0 100%);
$box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 24px rgba(166, 180, 200, 0.7);
$input-box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
$color: black;
$color-error: red;